.header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home{
    flex:1;
    display: flex;
    font-family: Gugi;
    justify-content: center;
}
.logo{
    flex:1;
    display: flex;
    font-family: Gugi;
    justify-content: center;
}
.cart{
    flex:1;
    display: flex;
    font-family: Gugi;
    justify-content: center;
  text-align: center;
}

