.header{
    height:80px;
    width : 120%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index:100;
    background-color: white;
}
.home_icon{
    cursor:pointer;
    color:white;
    width:80%;
    height:70px;
    margin-left:20px;
}
.header_title{
    width:100%;
    margin-left:30px;
    color:white;
}