.cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;

}
.total_price{
    text-align: center;
    margin-top: 27px;
}
.button_order{
    width: 50vw;
    margin: 27px auto;
    border-radius: 20px;
}