@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

.mainCustomer{
    text-align: center;
  }

.customerLogo{
    width:100px;
    height : 10%;
    margin: 10px auto;
}

body{
    background-color : azure;
}
.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu{
    align-items: center;
    border:0;
    height: 100px;
    width: 250px;
    background-color: lightgray;
    justify-content: center;
    cursor: pointer;
    border-radius: 20%;


    margin: 10px 50px 30px;

}


.receipt{
    align-items: center;
    border:0;
    height: 100px;
    width: 250px;
    background-color: lightgray;
    justify-content: center;
    cursor: pointer;
    border-radius: 20%;


    margin: 10px 50px 30px;

}
.food{
    align-items: center;
    border:0;
    height: 100px;
    width: 250px;
    background-color: lightgray;
    justify-content: center;
    cursor: pointer;
    border-radius: 20%;


    margin: 50px 50px 30px;

}
.drink{
    align-items: center;
    border:0;
    height: 100px;
    width: 250px;
    background-color: lightgray;
    justify-content: center;
    cursor: pointer;
    border-radius: 20%;


    margin: 10px 50px 30px;

}