.detail{
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.detail_name{
    text-align: center;
}

.detail_img{

    width : 80%;
    height: 100%;
    border-radius:20%;
    margin: 0 auto 27px;
}

.button_container{
    display:flex;
    justify-content:center;
    align-items: center;
    text-align:center;
    flex-direction:row;
    width:100%;


}

.button_put{
    text-align: center;
    width: 50%;
    margin: 27px auto 0;


}
.product_info{
    text-align: center;
    margin-top : 32px;
}