.food2 {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Gugi;
}
.food2 div{
    flex:1;
}
.food_img{
    display:flex;
    width : 100px;
    height: 100px;
    margin-left: 15%;
}
/*.name{*/

/*}*/
/*.price{*/

/*}*/