@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

.mainCustomer{
    text-align: center;
  }

.customerLogo{
    width:30%;
    margin: 10px auto;
}

body{
    background-color : azure;
}

.menu{
    align-items: center;
    border:0;
    height: 15%;
    width: 70%;
    background-color: lightgray;
    justify-content: center;
    cursor: pointer;
    border-radius: 20%;
    margin-top: 50px;
    display: flex;
    position:Absolute;
    top: 240px;
    left :15%;

}

.receipt{
    align-items: center;
    border:0;
    height:15%;
    width: 70%;
    background-color: lightgray;
    justify-content: center;
    cursor: pointer;
    border-radius: 20%;
    position:Absolute;
    top: 490px;
    left:15%
}