.mainCustomer{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.mainCustomer_title{
    font-family: "Gugi";
    text-align: center;
    margin-top: 32px;
    font-size: 50px;
    font-weight: bold;
}

.mainCustomer_image{
    height: 20vh;
    object-fit: contain;
    margin-top:50px;
    margin-bottom: 30px;
    /*mask-image: linear-gradient(to bottom,rgba(0,0,0,1),rgba(0,0,0,0));*/
}

.mainButton{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 50vw;
    margin: 27px auto;
    border-radius: 20px;
}
