.mainCustomer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left:auto;
    margin-right:auto;
    max-width:1500px;
    z-index: 100;
  }
.mainCustomer_image{
    width:200px;
    margin-top:80px;
    /*mask-image: linear-gradient(to bottom,rgba(0,0,0,1),rgba(0,0,0,0));*/
}
.mainCustomer_title{
    justify-content: center;
    margin-left: 35px;
}
.mainCustomer_buttons{
    display: flex;
    flex-direction: column;
    width : 50%;
    cursor: pointer;
    border-radius: 20%;

}
.menu_button{
    cursor: pointer;
    background-color:white;
    border: 3px #1c2b6f solid;
    border-radius: 20px;
}
.receipt_button{
    margin-top: 50px;
    cursor: pointer;
    background-color: white;
    border: 3px #1c2b6f solid;
    border-radius: 20px;
}
.mainCustomer_background{
    width: 100%;
    z-index:-1;
    margin-top:-150px;
    mask-image: linear-gradient(to bottom,rgba(0,0,0,1),rgba(0,0,0,0));
}
.qrCode{
    width:40%;
    margin-top : 30%;
}