.price{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.price_title{
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
}
.price_title div{
    flex:1;
}
.button_container{
    flex:1;
    display:flex;
    justify-content: center;
    text-align:center;
}
.change_amount{
    flex:1;
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.change_amount div{
    flex:1;
}
.delete{
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 5%;
}