.price{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.product_name{
    white-space:nowrap;
    text-align:center;
    align-items: center;
    width: 15%;
}
.product_price{
    display: flex;
    width:20px;
    flex-wrap: wrap;
    text-align:center;
    align-items:center;
}
.button_container{
    margin-top: 0;
    display:flex;
    justify-content: space-evenly;
    text-align:center;
    align-items: flex-start;
}
.product_amount{
    white-space:nowrap;
    display: flex;
    width:20px;
    flex-wrap: wrap;
    text-align:center;
    align-items:center;

}